<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
		<meta name="author" content="Dedicio Coelho">
		<title>Cadastro BCredi</title>
		<link rel="shortcut icon" type="image/x-icon" href="_assets/img/favicon.png" />
	</head>
	<body>

		<div id="app" class="page">

				<banner v-if='mobile'></banner>

				<div class="col--right">

					<transition name='fade'>
						<msg v-if='success'></msg>
					</transition>

					<header class="header" id="header">
						<a href="https://www.bcredi.com.br/" title="Bcredi | Crédito Imobiliário descomplicado e 100% online">
							<img src="_assets/img/bcredi-logo.svg" alt="Bcredi | Crédito Imobiliário descomplicado e 100% online" class="header__logo">
						</a>
					</header>
					<div class="content">
						<div class="content__intro">
							<h1 class="content__title">Criar meu cadastro</h1>
							<p class="content__desc">Para acompanhar sua contratação de crédito você utilizará seu e-mail e CPF.</p>
						</div>

						<form class="form" action="" method="post" v-on:submit.prevent='checkForm' novalidate='true'>

							<div class="form__line">
								<label for="nome">Nome Completo</label>
								<input type="text" name="nome" id="nome" class="form__item" v-bind:class="{ 'is--invalid': enviar && validaNome }" placeholder="Escreva seu nome completo" v-model='nome'>
								<feedback :msg='mensagens.nome'></feedback>
							</div>

							<div class="form__line">
								<label for="email">E-mail</label>
								<input type="email" name="email" id="email" class="form__item" v-bind:class="{ 'is--invalid': enviar && validaEmail }" placeholder="Seu e-mail principal" v-model='email'>
								<feedback :msg='mensagens.email'></feedback>
							</div>

							<div class="row">
								<div class="col-6">
									<div class="form__line">
										<label for="cpf">CPF</label>
										<the-mask type="text" name="cpf" id="cpf" class="form__item" v-bind:class="{ 'is--invalid': enviar && validaCPF }" placeholder="998.767.888-70" v-model='cpf' :mask="['###.###.###-##']" /></the-mask>
										<feedback :msg='mensagens.cpf'></feedback>
									</div>
								</div>
								<div class="col-6">
									<div class="form__line">
										<label for="nasc">Data de nascimento</label>
										<the-mask type="text" name="nasc" id="nasc" class="form__item" v-bind:class="{ 'is--invalid': enviar && validaData }" placeholder="21/12/1990" v-model='nasc' :mask="['##/##/####']"></the-mask>
										<feedback :msg='mensagens.nasc'></feedback>
									</div>

								</div>
							</div>

							<div class="form__line item--rel">
								<label for="senha">Senha</label>
								<input v-bind:type="tipoSenha" name="senha" id="senha" class="form__item" v-bind:class="{ 'is--invalid': enviar && validaSenha }" placeholder="Cadastre uma senha" v-model='senha'>
								<span class="icon-empty" v-on:click='escondeSenha = !escondeSenha'></span>
								<feedback :msg='mensagens.senha'></feedback>
							</div>

							<div class="form__line">
								<div class="form__item form__line-box" v-bind:class="{ 'is--invalid': enviar && validaPolitica }">
									<input type="checkbox" name="aceito" id="aceito" value="true" class="form__item" v-model='politica'>
									<label class="aceito-label" for="aceito">
										<span>
											<svg width="12px" height="10px" viewbox="0 0 12 10">
												<polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    									</svg>
										</span>
									</label>
									Li e estou de acordo com a <a href="#">Política de Privacidade</a> e a <a href="#">Política de Uso de Informações</a>.
								</div>
								<feedback :msg='mensagens.politica'></feedback>
							</div>

							<div class="form__line">
								<button type="submit" id="button" class="btn btn--block btn--primary">
									<span class="icon-lock"></span>
									Cadastrar
								</button>
							</div>
						</form>

						<div class="content__end">
							<hr>
							Já fiz meu cadastro. <a href="#">Entrar agora</a>.
						</div>


					</div>
				</div>
				<!-- end of col--right -->

				<template id="capa">
					<div class="banner col--left" v-bind:style='bgImage'>
						<div class="banner__text">
							<blockquote cite="" class="banner__blockquote">
								<p class="banner__quote">"Obtive crédito para capital de giro. O processo foi bem sucedido e tudo que foi abordado, foi cumprido."</p>
								<p class="banner__author">
									<strong>Camila Bragança</strong>,<br>
									Sideral Tecnologia
								</p>
							</blockquote>
						</div>
					</div>
					<!-- end of col--left -->
				</template>

		</div>

		<link rel="stylesheet" href="_assets/css/main.css">
		<script src="_assets/js/babel.min.js"></script>
		<script src="_assets/js/vue.min.js"></script>
		<script src="_assets/js/VueTheMask.umd.min.js"></script>
		<script src="_assets/js/main.js"></script>

	</body>
</html>
