.testimony {
  background-image: url(../img/rawpixel-411166-unsplash.png);
  background-position: top center;
  background-size: cover;
  box-shadow: inset 0px -140px 30px rgba($color: #000000, $alpha: 0.5);
  display: none;
  color: #fff;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 1.5em;
  text-align: right;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  .testimony__text {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .testimony__author {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}
