@import './testimony', './form';

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialised;
}

* {
  box-sizing: border-box;
  outline: none;
}

body,
input,
button {
  font-family: 'Arial', sans-serif;
}

button {
  cursor: pointer;
}

.main {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: 520px 1fr;
  }
}
